{% extends 'web/base-template.html' %}
{% block content %}
{% load static %}


<section class="aboutus padding-small bg-3 text-center">
<div class="container ">

<h1>Dinner</h1>

</div>
</section>

<section class="content-main">
<div class="container">
<div class="text-center">
<h2 class="title_h2">Lucky Dip Dinner</h2>
<p>As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. <br>Judge but built party world. Of so am he remember although required. Bachelor unpacked be advanced at. Confined in declared marianne is vicinity.</p>
</div>
<div class="row m-t-50">
<div class="col-md-3">
<img src='{% static "web/assets/image/dinner-1.jpg" %}'  alt="">
</div>
<div class="col-md-9">
<h3 class="title_h3">Dinner</h3>
<p>As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built party world. Of so am he remember although required. Bachelor unpacked be advanced at. Confined in declared marianne is vicinity.</p>
<p>ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Aenean ultricies mi vitae est.</p>
<p>As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built party world. Of so am he remember although required. Bachelor unpacked be advanced at. Confined in declared marianne is vicinity.</p>
<p>ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Aenean ultricies mi vitae est.</p>

</div>



</div>

<div class="row m-t-50">
<div class="col-md-3">
<img src='{% static "web/assets/image/dinner-1.jpg" %}' alt="">
</div>
<div class="col-md-9">
<h3 class="title_h3">Dinner</h3>
<p>As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built party world. Of so am he remember although required. Bachelor unpacked be advanced at. Confined in declared marianne is vicinity.</p>
<p>ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Aenean ultricies mi vitae est.</p>
<p>As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built party world. Of so am he remember although required. Bachelor unpacked be advanced at. Confined in declared marianne is vicinity.</p>
<p>ellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Aenean ultricies mi vitae est.</p>

</div>



</div>


</div>
</section>


{% endblock %}