{% extends 'web/base-template.html' %}
{% block content %}
{% load static %}



<section class="aboutus padding-small bg-4 text-center" {% if page_banner_image %} style="background-size:cover !important;  background: url({{page_banner_image}}) {% endif %}  no-repeat center top;">
<div class="container ">

<h1>{{page_title_show|capfirst}}</h1></div>
</section>





 <section class="content-main bg-color">
<div class="container">
 {{page_info_data_set|safe}}
</div>
</section>

<!-- ============================== GRAPE START==================== -->
 {% if Page_title == 'grape' %}
 {% if page_content %}
 {% for items in page_content %}
              
        {% if forloop.counter|divisibleby:2 %}

 <section class="content-main bg-color">
<div class="container">

<div class="row">
<div class="col-md-6">
    <a href="{% url 'wine_shop:wine_shop' %}?page-type=grape&page-name={{items.Slug}}">
  {% if items.Grape_Image %}
<img src='{{items.Grape_Image.url}}' alt="">
  {% else %}
<img src='{% static "web/assets/image/shop/bodega-clos-floridene-banner.jpg" %}' alt="">
  {% endif %}
</a>
</div>
<div class="col-md-6">
<h3 class="title_h3"><a href="{% url 'wine_shop:wine_shop' %}?page-type=grape&page-name={{items.Slug}}">{{items.Grape_Name}}</a></h3>
{{items.Short_Description|slice:"0:800" }}
<div class="view_producer_btn"> <a class="product-story_info-btn" href="{% url 'wine_shop:wine_shop' %}?page-type=grape&page-name={{items.Slug}}">View All Wines</a> </div>

</div>



</div>



</div>
</section>
        {% else %}
<section class="content-main">
<div class="container">

<div class="row m-t-50">
<div class="col-md-6">
<h3 class="title_h3"><a href="{% url 'wine_shop:wine_shop' %}?page-type=grape&page-name={{items.Slug}}">{{items.Grape_Name}}</a></h3>
{{items.Short_Description|slice:"0:800" }}
<div class="view_producer_btn"> <a class="product-story_info-btn" href="{% url 'wine_shop:wine_shop' %}?page-type=grape&page-name={{items.Slug}}">View All Wines</a> </div>
</div>
<div class="col-md-6">
  <a href="{% url 'wine_shop:wine_shop' %}?page-type=grape&page-name={{items.Slug}}">
  {% if items.Grape_Image %}
<img src='{{items.Grape_Image.url}}' alt="">
  {% else %}
<img src='{% static "web/assets/image/shop/bodega-clos-floridene-banner.jpg" %}' alt="">
  {% endif %}
</a>
</div>
</div>
</div>
</section>
        {% endif %}     

          {% endfor %}
   {% endif %}
{% endif %}
<!-- ============================== GRAPE END ==================== -->



<!-- ============================== PRODUCER START==================== -->
  {% if Page_title == 'producer' %}
 {% if page_content %}
 {% for items in page_content %}
              
        {% if forloop.counter|divisibleby:2 %}

 <section class="content-main bg-color">
<div class="container">

<div class="row">
<div class="col-md-6">
    <a href="{% url 'wine_shop:wine_shop' %}?page-type=producer&page-name={{items.Slug}}">
  {% if items.Producer_Image %}
<img src='{{items.Producer_Image.url}}' alt="">
  {% else %}
<img src='{% static "web/assets/image/shop/bodega-clos-floridene-banner.jpg" %}' alt="">
  {% endif %}
</a>
</div>
<div class="col-md-6">
<h3 class="title_h3"><a href="{% url 'wine_shop:wine_shop' %}?page-type=producer&page-name={{items.Slug}}">{{items.Winnery_Name}}</a></h3>
{{items.Short_Description|slice:"0:800" }}
<div class="view_producer_btn"> <a class="product-story_info-btn" href="{% url 'wine_shop:wine_shop' %}?page-type=producer&page-name={{items.Slug}}">View All Wines</a> </div>

</div>



</div>



</div>
</section>
        {% else %}
<section class="content-main">
<div class="container">

<div class="row m-t-50">
<div class="col-md-6">
<h3 class="title_h3"><a href="{% url 'wine_shop:wine_shop' %}?page-type=producer&page-name={{items.Slug}}">{{items.Winnery_Name}}</a></h3>
{{items.Short_Description|slice:"0:800" }}
<div class="view_producer_btn"> <a class="product-story_info-btn" href="{% url 'wine_shop:wine_shop' %}?page-type=producer&page-name={{items.Slug}}">View All Wines</a> </div>
</div>
<div class="col-md-6">
  <a href="{% url 'wine_shop:wine_shop' %}?page-type=producer&page-name={{items.Slug}}">
  {% if items.Producer_Image %}
<img src='{{items.Producer_Image.url}}' alt="">
  {% else %}
<img src='{% static "web/assets/image/shop/bodega-clos-floridene-banner.jpg" %}' alt="">
  {% endif %}
</a>
</div>
</div>
</div>
</section>
        {% endif %}     

          {% endfor %}
   {% endif %}
{% endif %}
<!-- ============================== PRODUCER END ==================== -->




<!-- ============================== region START==================== -->
  {% if Page_title == 'region' %}
 {% if page_content %}
 {% for items in page_content %}
              
        {% if forloop.counter|divisibleby:2 %}

 <section class="content-main bg-color">
<div class="container">

<div class="row">
<div class="col-md-6">
    <a href="{% url 'wine_shop:wine_shop' %}?page-type=region&page-name={{items.Slug}}">
  {% if items.Region_Image %}
<img src='{{items.Region_Image.url}}' alt="">
  {% else %}
<img src='{% static "web/assets/image/shop/bodega-clos-floridene-banner.jpg" %}' alt="">
  {% endif %}
</a>
</div>
<div class="col-md-6">
<h3 class="title_h3"><a href="{% url 'wine_shop:wine_shop' %}?page-type=region&page-name={{items.Slug}}">{{items.Region_Name}}</a></h3>
{{items.Short_Description|slice:"0:800" }}
<div class="view_producer_btn"> <a class="product-story_info-btn" href="{% url 'wine_shop:wine_shop' %}?page-type=region&page-name={{items.Slug}}">View All Wines</a> </div>

</div>



</div>



</div>
</section>
        {% else %}
<section class="content-main">
<div class="container">

<div class="row m-t-50">
<div class="col-md-6">
<h3 class="title_h3"><a href="{% url 'wine_shop:wine_shop' %}?page-type=region&page-name={{items.Slug}}">{{items.Region_Name}}</a></h3>
{{items.Short_Description|slice:"0:800" }}
<div class="view_producer_btn"> <a class="product-story_info-btn" href="{% url 'wine_shop:wine_shop' %}?page-type=region&page-name={{items.Slug}}">View All Wines</a> </div>
</div>
<div class="col-md-6">
  <a href="{% url 'wine_shop:wine_shop' %}?page-type=region&page-name={{items.Slug}}">
  {% if items.Region_Image %}
<img src='{{items.Region_Image.url}}' alt="">
  {% else %}
<img src='{% static "web/assets/image/shop/bodega-clos-floridene-banner.jpg" %}' alt="">
  {% endif %}
</a>
</div>
</div>
</div>
</section>
        {% endif %}     

          {% endfor %}
   {% endif %}
{% endif %}
<!-- ============================== region END ==================== -->




<!-- ============================== dinner START==================== -->
  {% if Page_title == 'dinner' %}
  
 {% if page_content %}
 {% for items in page_content %}
              
        {% if forloop.counter|divisibleby:2 %}

 <section class="content-main bg-color">
<div class="container">

<div class="row">
<div class="col-md-6">
    <!-- <a href="{% url 'wine_shop:wine_shop' %}?page-type=region&page-name={{items.Slug}}"></a>-->
  {% if items.Dinner_Image %}
<img src='{{items.Dinner_Image.url}}' alt="">
  {% else %}
<img src='{% static "web/assets/image/shop/bodega-clos-floridene-banner.jpg" %}' alt="">
  {% endif %}

</div>
<div class="col-md-6">
  <!-- <a href="{% url 'wine_shop:wine_shop' %}?page-type=region&page-name={{items.Slug}}"></a> -->
<h3 class="title_h3">
  {{items.Dinner_Name}}</h3>
{{items.Short_Description|slice:"0:800" }}
<!-- <div class="view_producer_btn"> <a class="product-story_info-btn" href="{% url 'wine_shop:wine_shop' %}?page-type=region&page-name={{items.Slug}}">View All Wines</a> </div> -->

</div>



</div>



</div>
</section>
        {% else %}
<section class="content-main">
<div class="container">

<div class="row m-t-50">
  <!-- <a href="{% url 'wine_shop:wine_shop' %}?page-type=region&page-name={{items.Slug}}"></a> -->
<div class="col-md-6">
<h3 class="title_h3">{{items.Dinner_Name}}</a></h3>
{{items.Short_Description|slice:"0:800" }}
<!-- <div class="view_producer_btn"> <a class="product-story_info-btn" href="{% url 'wine_shop:wine_shop' %}?page-type=region&page-name={{items.Slug}}">View All Wines</a> </div> -->
</div>
<div class="col-md-6">
  <!-- <a href="{% url 'wine_shop:wine_shop' %}?page-type=region&page-name={{items.Slug}}"></a> -->
  {% if items.Dinner_Image %}
<img src='{{items.Dinner_Image.url}}' alt="">
  {% else %}
<img src='{% static "web/assets/image/shop/bodega-clos-floridene-banner.jpg" %}' alt="">
  {% endif %}

</div>
</div>
</div>
</section>
        {% endif %}     

          {% endfor %}
   {% endif %}
{% endif %}
<!-- ============================== dinner END ==================== -->




<!-- ============================== wine-testing START==================== -->
  {% if Page_title == 'wine-testing' %}



 {% if page_content %}
 {% for items in page_content %}
              
        {% if forloop.counter|divisibleby:2 %}

 <section class="content-main bg-color">
<div class="container">

<div class="row">
<div class="col-md-6">
    <!-- <a href="{% url 'wine_shop:wine_shop' %}?page-type=region&page-name={{items.Slug}}"></a>-->
  {% if items.Testing_Image %}
<img src='{{items.Testing_Image.url}}' alt="">
  {% else %}
<img src='{% static "web/assets/image/shop/bodega-clos-floridene-banner.jpg" %}' alt="">
  {% endif %}

</div>
<div class="col-md-6">
  <!-- <a href="{% url 'wine_shop:wine_shop' %}?page-type=region&page-name={{items.Slug}}"></a> -->
<h3 class="title_h3">
  {{items.Name}}</h3>
{{items.Short_Description|slice:"0:800" }}
<!-- <div class="view_producer_btn"> <a class="product-story_info-btn" href="{% url 'wine_shop:wine_shop' %}?page-type=region&page-name={{items.Slug}}">View All Wines</a> </div> -->

</div>



</div>



</div>
</section>
        {% else %}
<section class="content-main">
<div class="container">

<div class="row m-t-50">
  <!-- <a href="{% url 'wine_shop:wine_shop' %}?page-type=region&page-name={{items.Slug}}"></a> -->
<div class="col-md-6">
<h3 class="title_h3">{{items.Name}}</a></h3>
{{items.Short_Description|slice:"0:800" }}
<!-- <div class="view_producer_btn"> <a class="product-story_info-btn" href="{% url 'wine_shop:wine_shop' %}?page-type=region&page-name={{items.Slug}}">View All Wines</a> </div> -->
</div>
<div class="col-md-6">
  <!-- <a href="{% url 'wine_shop:wine_shop' %}?page-type=region&page-name={{items.Slug}}"></a> -->
  {% if items.Testing_Image %}
<img src='{{items.Testing_Image.url}}' alt="">
  {% else %}
<img src='{% static "web/assets/image/shop/bodega-clos-floridene-banner.jpg" %}' alt="">
  {% endif %}

</div>
</div>
</div>
</section>
        {% endif %}     

          {% endfor %}
   {% endif %}
{% endif %}
<!-- ============================== wine-testing END ==================== -->
{% endblock %}