
	<div class="fluid-container">
		<div class="ruby-menu-demo-header">
			<div class="ruby-wrapper">
				<button class="c-hamburger c-hamburger--htx visible-xs"><span>toggle menu</span>
				</button>
				<ul class="ruby-menu">
					<!-- <li class=""><a href="{% url 'home:home' %}"><i class="fa fa-home"></i></a></li> -->
					<li class="ruby-menu-mega"><a href="#">Aroma of Wine </a>
						<div class="ruby-grid ruby-grid-lined">
							<div class="ruby-row">
								<div class="ruby-col-3">
										<ul id="myUL">
					<li><span class="caret ruby-list-heading">Aromas Recommendations</span>
				      <ul class="nested region_tabs">
													{% if get_category %}
													 {% for item in get_category %}
							<li class="{% if forloop.counter == 1 %}active{% endif %}" ><a class="category_click" href="#category{{item.id}}" data-url="{% url 'wine_shop:wine_shop' %}?category={{item.Category_name}}">{{item}}</a></li>
													 {% endfor %}	
													{% endif %}
													
													
													
												</ul>
											</li>
										</ul>
									</div>
									<div class="ruby-col-9">
                                    {% if get_category %}
									{% for item in get_category %}
		<div class="mega_menu_show" id="category{{item.id}}"  {% if forloop.counter == 1 %}style="display:block;"{% endif %}>
									<div class="ruby-col-12">
										<span class="caret ruby-list-heading">Wines ({{item}})</span>
										<div class="row">					      
                                     {{item.Category_name|get_wine_according_category}}
										</div>
										
									</div>
								</div>
									{% endfor %}	
								{% endif %}
								
										
									</div>
							</div>
						</li>
						<li class="ruby-menu-mega"><a href="#">Fine Wines</a>
							<div class="ruby-grid ruby-grid-lined">
								<div class="ruby-row">
									
									<div class="ruby-col-3">
										<ul id="myUL">
											<li><span class="caret ruby-list-heading">Region</span>
												<ul class="nested region_tabs">
													{% if get_region_for_fine_wine %}
													{% for item in get_region_for_fine_wine %}
													<li class="{% if forloop.counter == 1 %}active{% endif %}">
<a href="#regin{{item.id}}" class="category_click" data-url="{% url 'wine_shop:wine_shop' %}?page-type=region&page-name={{item.Slug}}">{{item}}</a></li>
													{% endfor %}
													{% endif %}
													
												</ul>
											</li>
										</ul>
									</div>
									<div class="ruby-col-9">
                                    {% if get_region_for_fine_wine %}
									{% for item in get_region_for_fine_wine %}
		<div class="mega_menu_show" id="regin{{item.id}}"  {% if forloop.counter == 1 %}style="display:block;"{% endif %}>
									
								{{item.Region_Name|get_wine_according_region}}
									
								</div>
									{% endfor %}	
								{% endif %}
								
										
									</div>
									
									
								</div>
							</div> <span class="ruby-dropdown-toggle"></span>
						</li>
						
						
						<li class="ruby-menu-mega"><a href="#">Aroma Selection</a>
							<div class="ruby-grid ruby-grid-lined">
								<div class="ruby-row">
									
									<div class="ruby-col-3">
										<ul id="myUL">
											<li><span class="caret ruby-list-heading">Aroma Favorites</span>
												<ul class="nested region_tabs_w">
													<li class=""><a href="#Popular-Wines">Popular Wines</a></li>
													<li><a href="#Great-Value">Great Value</a></li>
													<li><a href="#Aroma-Recommendations">Aroma Recommendations</a></li>
													
													
													
												</ul>
											</li>
										</ul>
									</div>
									<div class="ruby-col-9">

									<div class="mega_menu_show_w" id="Popular-Wines" style="display:block;">
									<div class="ruby-col-12">
										<span class="caret ruby-list-heading">Wines (Popular Wines)</span>
										<div class="row">					      
                                     {{'Popular Wines'|get_wine_according_aroma_selection}}
										</div>
									</div>
									</div>

									<div class="mega_menu_show_w" id="Great-Value" style="display:none;">
									<div class="ruby-col-12">
										<span class="caret ruby-list-heading">Wines (Great Value)</span>
										<div class="row">					      
                                     {{'Great Value'|get_wine_according_aroma_selection}}
										</div>
									</div>
									</div>

									<div class="mega_menu_show_w" id="Aroma-Recommendations" style="display:none;">
									<div class="ruby-col-12">
										<span class="caret ruby-list-heading">Wines (Aroma Recommendations)</span>
										<div class="row">					      
                                     {{'Aroma recommendations'|get_wine_according_aroma_selection}}
										</div>
									</div>
									</div>

									
									
								</div>
							</div> <span class="ruby-dropdown-toggle"></span>
						</li>
						
						<li class="ruby-menu-mega"><a href="#">Aroma Wine Partners </a>
						<div class="ruby-grid ruby-grid-lined">
							<div class="ruby-row">
								
								<div class="ruby-col-4">
									<ul id="myUL">
										<li><span class="caret ruby-list-heading">Country</span>
											<ul class="nested">
												{% if aromawine_pattenre_country %}
												 {% for item in aromawine_pattenre_country %}
												<li><a href="{% url 'wine_shop:wine_shop' %}?page-type=country&page-name={{item.Slug}}">{{item}}</a>
												</li>
												 {% endfor %}
												{% endif %}
												
												
											</ul>
										</li>
									</ul>
									
								</div>
								
								<div class="ruby-col-4">
									<ul id="myUL">
										<li><span class="caret ruby-list-heading">Winery</span>
											<ul class="nested">
												{% if aromawine_pattenre_winnery %}
												 {% for item in aromawine_pattenre_winnery %}
												<li><a href="{% url 'wine_shop:wine_shop' %}?page-type=producer&page-name={{item.Slug}}">{{item}}</a>
												</li>
												 {% endfor %}
												{% endif %}
												
												
											</ul>
										</li>
									</ul>
									
								</div>
								
								<div class="ruby-col-4">
									<ul id="myUL">
										<li><span class="caret ruby-list-heading">Appellation</span>
											<ul class="nested">
												{% if aromawine_pattenre_applicant %}
												 {% for item in aromawine_pattenre_applicant %}
												<li><a href="{% url 'wine_shop:wine_shop' %}?appellation={{item.Slug}}">{{item}}</a>
												</li>
												 {% endfor %}
												{% endif %}
												
											</ul>
										</li>
									</ul>
									
								</div>
								
								<span class="ruby-dropdown-toggle"></span>
						</li>
						
						<li class="ruby-menu-mega"><a href="#">En Premier </a>
						<div class="ruby-grid ruby-grid-lined">
							<div class="ruby-row">
								
								<div class="ruby-col-4">
									<ul id="myUL">
										<li><span class="caret ruby-list-heading">Year</span>
											<ul class="nested">
												{% if en_premier_vintage_year %}
												 {% for item in en_premier_vintage_year %}
												<li><a href="{% url 'wine_shop:wine_shop' %}?vintage={{item.Slug}}">{{item}}</a>
												</li>
												 {% endfor %}
												{% endif %}

												
												
											</ul>
										</li>
									</ul>
									
								</div>
								
								<div class="ruby-col-4">
									<ul id="myUL">
										<li><span class="caret ruby-list-heading">Winery</span>
											<ul class="nested">
												{% if en_premier_vintage_winnery %}
												 {% for item in en_premier_vintage_winnery %}
												<li><a href="{% url 'wine_shop:wine_shop' %}?page-type=producer&page-name={{item.Slug}}">{{item}}</a>
												</li>
												 {% endfor %}
												{% endif %}
												
												
											</ul>
										</li>
									</ul>
									
								</div>
								
								<div class="ruby-col-4">
									<ul id="myUL">
										<li><span class="caret ruby-list-heading">Wine Name</span>
											<ul class="nested">
												{% if en_premier_vintage_wine %}
												 {% for item in en_premier_vintage_wine %}
												<li><a href="{% url 'product_detail:product_detail' item.Product.Product_id item.Product.Product_slug  item.Vintage_Year %}">{{item.Product}}({{item}})</a>
												</li>
												 {% endfor %}
												{% endif %}
												
												
												
											</ul>
										</li>
									</ul>
									
								</div>
								
								<span class="ruby-dropdown-toggle"></span>
						</li>
						
						<li class="ruby-menu-mega"><a href="#">Spirits</a>
							<div class="ruby-grid ruby-grid-lined">
								<div class="ruby-row">
									{% if sprit_country %}
									{% for item in sprit_country %}
									<div class="ruby-col-3">
										<ul id="myUL">
											<li><span class="caret ruby-list-heading">{{item}}</span>
												<ul class="nested">
													{% if sprit_product %}
													 {% for item_pro in sprit_product %}
													
{% if item_pro.Product.Country.Country_Name == item.Country_Name %}
													<li>
						<a href="{% url 'product_detail:product_detail' item_pro.Product.Product_id item_pro.Product.Product_slug  item_pro.Vintage_Year %}">{{item_pro.Product}}({{item_pro}})</a>
													</li>
       {% endif %}

													 {% endfor %}
													{% endif %}
												</ul>
											</li>
										</ul>
									</div>
									{% endfor %}
									{% endif %}
									
									
								</div>
							</div> <span class="ruby-dropdown-toggle"></span>
						</li>

						
						<li class="ruby-menu-mega"><a href="#">Sommelier Services</a>
						<div class="ruby-grid ruby-grid-lined">
							<div class="ruby-row">
								
								<div class="ruby-col-3">
									<ul id="myUL">
										<li><span class="caret ruby-list-heading">Sommelier Services</span>
											<ul class="nested">
												<li><a href="#">Sommelier Classes</a></li>
<li><a href="{% url 'recipes_for_web:revipe' %}">Wine Pairng - Recipes</a></li>
												<li><a href="#">SommelierAdvice</a></li>
												<li><a href="account-cellaritems.php">Cellar Plan</a></li>
												<li><a href="{% url 'event:event' %}">Events</a></li>
												
												
											</ul>
										</li>
									</ul>
									
								</div>
								
								<div class="ruby-col-3">
									<ul id="myUL">
										<li><span class="caret ruby-list-heading">Wine Experiences</span>
											<ul class="nested">
												<li><a href="{% url 'pages:page' 'dinner' %}">Dinners</a></li>
												<li><a href="{% url 'pages:page' 'wine-testing' %}">Wine Tasting</a></li>
												
												
												
											</ul>
										</li>
									</ul>
									
								</div>
								
								<div class="ruby-col-2">
									<ul id="myUL">
										<li><span class="caret ruby-list-heading">Events</span>
											<ul class="nested">
										<li><a href="{% url 'event:event' %}?event-type=social&">Social </a></li>
										<li><a href="{% url 'event:event' %}?event-type=private&">Private </a></li>
										<li><a href="{% url 'event:event' %}?event-type=corporate&">Corporate </a></li>
												
												
												
											</ul>
										</li>
									</ul>
									
								</div>
								
								<div class="ruby-col-2">
									<ul id="myUL">
										<li><span class="caret ruby-list-heading">Expertise</span>
											<ul class="nested">
												<!-- <li><a href="vintage-chart.php">Vintage Chart </a></li> -->
												<li><a href="{% url 'pages:page' 'grape' %}">Grapes </a></li>
												<li><a href="{% url 'pages:page' 'region' %}">Regions </a></li>
												<li><a href="{% url 'pages:page' 'producer' %}">Winery </a></li>
												
												
												
											</ul>
										</li>
									</ul>
									
								</div>
								<div class="ruby-col-2">
									<ul id="myUL">
										<li><span class="caret ruby-list-heading">Advice</span>
											<ul class="nested">
												{% for item in custom_page %}
												<li> <a href="{% url 'home:custom_page' item.Slug %}">{{item}}</a></li>
												{% endfor %}
												
												
												
												
											</ul>
										</li>
									</ul>
									
								</div>
								
								<span class="ruby-dropdown-toggle"></span>
						</li>
						
						
						
						
						
						
						</ul>
			</div>
		</div>
	</div>