       <div class="login-form-content">
  <form action="{% url 'admin_mambership_setting:update_membership'  object.id %}" id="size_update" method="post">
      
{% csrf_token %}


    <div class="row">
     <div class="col-md-12">
      <div class="form-group">
                   <label class="age">Membership Name</label>
                   {{form.Membership_name}}
                   <!-- <input type="text" class="form-control" placeholder="Enter your winery name"> -->
        </div>
     </div>
    </div>

    <div class="row">
     <div class="col-md-6">
      <div class="form-group">
                   <label class="age">Min Price</label>
                   {{form.min_price}}
                   <!-- <input type="text" class="form-control" placeholder="Enter your winery name"> -->
        </div>
     </div>
      <div class="col-md-6">
      <div class="form-group">
                   <label class="age">Max Price</label>
                   {{form.max_price}}
                   <!-- <input type="text" class="form-control" placeholder="Enter your winery name"> -->
        </div>
     </div>
    </div>


<div class="row">
 
  <div class="col-md-6">
    <div class="form-group">
      <button type="submit" class="btn-block btn btn-white subbtn">Save</button>
    </div>
  </div>
</div>
</form>
</div>