<div class="ruby-col-4">
										<ul id="myUL">
											<li><span class="caret ruby-list-heading">Designation</span>
												<ul class="nested">
													<li>
														<ul class="nested">
											{% if get_product %}
												{% for item in get_product %}
				<li><a href="{% url 'wine_shop:wine_shop' %}?keyword={{item.Product.Product_slug}}">{{item.Product}}</a></li>
											{% endfor %}
										{% endif %}			
															
															
														</ul>
													</li>
													
												
												
												</ul>
											</li>
										</ul>
									</div>

									<div class="ruby-col-4">
										<ul id="myUL">
											<li><span class="caret ruby-list-heading">Vintage  - 10 / 10</span>
												<ul class="nested">
													<li>
														<ul class="nested">
															{% if get_product %}
												{% for item in get_product %}
				<li><a href="{% url 'wine_shop:wine_shop' %}?vintage={{item.Vintage_Year.Slug}}">{{item}}</a></li>
											{% endfor %}
										{% endif %}	
														
															
															
														</ul>
													</li>
													
												
												
												</ul>
											</li>
										</ul>
									</div>

									<div class="ruby-col-4">
										<ul id="myUL">
											<li><span class="caret ruby-list-heading">Wineries</span>
												<ul class="nested">
													<li>
														<ul class="nested">
														{% if get_product %}
												{% for item in get_product %}
				<li><a href="{% url 'wine_shop:wine_shop' %}?page-type=producer&page-name={{item.Product.Producer.Slug}}">{{item.Product.Producer}}</a></li>
											{% endfor %}
										{% endif %}	
				
														</ul>
													</li>
													
												
												
												</ul>
											</li>
										</ul>
									</div>