  
{% extends 'admin/base-template.html' %}
{% block content %}
{% load static %}

<style type="text/css">
      .modal-dialog-full-width {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        max-width:none !important;

    }

</style>


		 <div class="page-content">
		 <section class="content-header">
        
        <div class="header-title">
            <h1>{{Page_title}}</h1>
            
            
        </div>
    </section>
<div class="container-fluid">
  <div class="row p-t-b-20">
    <div class="col-md-12">
      <!-- <div class="card no-b"> -->
      {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{field.title}}  {{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}
<div class="login-form-content">
  <form action="" method="post" enctype='multipart/form-data'>
      
{% csrf_token %}
<input type="hidden" name="banner_image" value="">

    <div class="row">
     
   
   

<div class="col-md-6">
      <div class="form-group">
                   <label class="age">Title</label>
                   {{form.Title}}
                   <!-- <input type="text" class="form-control" placeholder="Enter your winery name"> -->

        </div>
    

     </div>
                        
            <div class="col-md-6">
      <div class="form-group">
                   <label class="age">Page Slug</label>
                
                       {{form.Slug}} 
        </div>
    

     </div>


     <div class="col-md-12">
      <div class="form-group">
                   <label class="age">Background Image</label>
                
                       {{form.Background_Image}} 
        </div>
    

     </div>
    </div>
   

    <!-- <div class="row">
      <div class="col-md-12">
        <div class="form-group">
                   <label class="age">Description</label>
                   <input type="text" class="form-control" placeholder="Description">
        </div>
      </div>
    </div>
 -->



<div class="col-md-12">
        <div class="form-group">
                   <label class="age">Description</label>
           <div class="summernote">
           {{form.description}}
           <!-- <textarea id="" class="form-control des summernote_text"></textarea> -->
           </div>
                  

        </div>
      </div>
<div class="col-md-12">
        <div class="form-group">
                   <label class="age">{{form.Publish}} Publish As Page</label>
        </div>
      </div>
<div class="col-md-12">
        <div class="form-group">
                   <label class="age">Sort Description &nbsp; &nbsp;  &nbsp; &nbsp;   {{form.Short_description_Show_in_Footer}}Short description Show in Footer</label>
           <div class="summernote">
           {{form.Short_description}}
           <!-- <textarea id="" class="form-control des summernote_text"></textarea> -->
           </div>
                  

        </div>
      </div>
<div class="row">
  <div class="col-md-2">
    <button type="reset" class="btn-block btn btn-white subbtn" data-dismiss="modal">Cancel</button>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <button type="submit" class="btn-block btn btn-white subbtn">Save</button>
    </div>
  </div>
</div>
</form>
</div>




          <!-- </div> -->
               </div>
      </div>
         </div>
      </div>



<div id="uploadimageModal_edit" class="modal" role="dialog">
   <div class="modal-dialog-full-width modal-dialog modal-lg">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Upload & Crop Image</h4>
            <button class="btn btn-success crop_image_edit">Save Image</button>
         </div>
         <div class="modal-body">
            <div class="row">
               <div class="col-md-8 text-center">
                  <div id="image_demo_edit" style="width:350px; margin-top:30px"></div>
               </div>
               <div class="col-md-4" style="padding-top:30px;">
                  <br />
                  <br />
                  <br/>
                  <div class="row">
                     <div class="col-md-12 set_loader"></div>
                  </div>
                  <!--<button class="btn btn-success crop_image_edit">Crop Image</button>-->
               </div>
            </div>
         </div>
         <div class="modal-footer">
             
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
         </div>
      </div>
   </div>
</div>


 {% endblock %}


   {% block script %}
   
  <script src='{% static "admin/assets/cropme/croppie_custom_page_image_two.js" %}' ></script>
 <script type="text/javascript">
   $(document).ready(function() {

$("#id_Background_Image").addClass('form-control');


  $('.summernote_text').summernote({
        placeholder: 'Description',
        tabsize: 2,
        height: 200
      });
});
 </script>
      {% endblock %}