{% extends 'web/base-template.html' %}
{% block content %}
{% load static %}
<input type="hidden" id="order_id_amount" value="{{get_order_ins.Amount}}">

 <form action="" method="POST">
  {% csrf_token %}
  <input type="hidden" name="shipping_charge" id="add_shipping_charge_val" value="0">
<div class="container cart-area">
  {% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-success alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong> 
                    </div>
           {% endif %}   
           
           {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong> 
                    </div>
           {% endif %}         
      
    {% endfor %}
    {% endif %}

{% if card_product %}

            <div class="row">
                <div class="col-lg-5"  {% if card_product.0.Order_id.Order_Type  == "Delivered" %}  style="display: block;" {% else %} style="display: none;" {% endif %}   >
                    <div class="checkout-form form-style">
                        <h3>Shipping Details</h3>
                       
                       

<div class="row">
  <div class="col-12">
                                    {% if my_address %}
                                    <select class="form-control" id="address_obj"  name="address_id" >
                                      <option value=""> Select Address</option>
                                      {% if my_address %}
                                       {% for item in my_address %}
                                      <option value="{{item.id}}"> {{item}}</option>
                                       {% endfor %}
                                      {% endif %}
                                    </select>
                                    {% endif %}
                      {% if my_address %}
                      <input id="toggle2" type="checkbox"  name="old_address">
                      <label class="fontsize" for="toggle2"><h5>Ship to a different address?</h5></label>
                      {% else %}
                      <input id="toggle2" style="display: none;" checked="" type="checkbox"  name="old_address">
                    
                      {% endif %}
                                </div>
</div>



                            <div class="row" id="address_form" {% if my_address %}  style="display: none;" {% else %} {% endif %}>
                              
                                <div class="col-sm-6 col-12">
                                    <p>First Name *</p>
                                  {{address_form.First_Name}}
                                </div>
                                <div class="col-sm-6 col-12">
                                    <p>Last Name *</p>
                                    {{address_form.Last_Name}}
                                </div>
                                <div class="col-12">
                                    <p>Company Name</p>
                                     {{address_form.Conpany_Name}}
                                </div>
                                <div class="col-sm-6 col-12">
                                    <p>Email Address *</p>
                                    {{address_form.Email}}
                                </div>
                                <div class="col-sm-6 col-12">
                                    <p>Phone No. *</p>
                                    {{address_form.Pnone_no}}
                                </div>
                                <div class="col-6">
                                    <p>Country *</p>
                                    {{address_form.Country}}
                                </div>
                                <div class="col-sm-6 col-12">
                                    <p>State *</p>
                                    {{address_form.State}} 
                                </div>
                                <div class="col-sm-12 col-12">
                                    <p>Town/City *</p>
                                    {{address_form.City}} 
                                </div>
                                <div class="col-12">
                                    <p>Your Address *</p>
                                    {{address_form.Address}}
                                </div>
                                <br>
                                <br>
                                <div class="col-sm-6 col-12">
                                    <p>Postcode/ZIP *</p>
                                    {{address_form.Postcode}}
                                </div>
                                
                                <div class="col-sm-6 col-12">
                                    <p>Landmark *</p>
                                    {{address_form.Landmark}} 
                                </div>
                            
                         </div>
                         <div class="row">
                                

                                <div class="col-12">
                                    <p>Order Notes </p>
                                    <textarea class="form-control" name="massage"  placeholder="Notes about Your Order, e.g.Special Note for Delivery"></textarea>
                                </div>
                            </div>
                        
                    </div>
                </div>
                <div  {% if card_product.0.Order_id.Order_Type == "Delivered" %}  class="col-lg-7" {% else %} class="col-lg-12" {% endif %}  >
                    <div class="order-area">
                        <h3>Your Order</h3>
						<div class="table-product">
            <table class="table table-bordered" style="
    width: 100%;
    max-width: 100%;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-spacing: 0;
    border-collapse: collapse;
    ">
  <thead>
    {% if card_product.0.Order_id.Order_Type == 'Tickets' %}
    <tr style="cursor: pointer;">
      <td class="text-center"><b>Images </b></td>
      <td class="text-center"><b>Event</b></td>
      <td class="text-center"><b>Quantity</b></td>
      <td class="text-center"><b>Price</b></td>
      <td class="text-center"><b>Amount</b></td>
    </tr>
{% else %}
<tr style="cursor: pointer;">
      <td class="text-center"><b>Images </b></td>
      <td class="text-center"><b>Product</b></td>
    <td class="text-center"><b>Type & Case Size</b></td>
        <td class="text-center">Price</td>
        <td class="text-center"><b>GST</b></td>
        <td class="text-center"><b>With GST</b></td>
        <td class="text-center">Quantity</td>
    
      <td class="text-center"><b>Amount</b></td>
    </tr>
{% endif %}

  </thead>
  <tbody>
    {% if card_product %}
     {% for item in card_product %}




{% if item.Order_id.Order_Type == 'Tickets' %}

    <tr style="cursor: pointer;">
      <td class="text-center"><a href="{% url 'event:event_detail' item.Event_Ticket.id item.Event_Ticket.Slug %}"><img src='{{item.Event_Ticket.Event_Image.url}}' style="height: 50px;"></a></td>
      <td class="text-center"><a href="{% url 'event:event_detail' item.Event_Ticket.id item.Event_Ticket.Slug %}">{{item.Event_Ticket}}({{item.Event_Ticket.Event_Type}})</a></td>
      <td class="text-center">{{item.Quentity}}</td>
      <td class="text-center">
        ${{item.Cost_of_product}}*{{item.Quentity}}
      </td>
      <td class="text-center">
<input type="hidden" class="total" value="{% widthratio item.Cost_of_product 1 item.Quentity %}">
  ${% widthratio item.Cost_of_product 1 item.Quentity %}
      </td>
    </tr>
   {% endif %}




{% if item.Order_id.Order_Type == 'Caller' %}

    <tr style="cursor: pointer;">
      <td class="text-center"><a href="{% url 'product_detail:product_detail' item.Product_Cellar.Product_id item.Product_Cellar.Product_slug  item.Year %}"><img src='{{item.Product_Cellar|get_product_image_one}}' style="height: 50px;"></a></td>
      <td class="text-center"><a href="{% url 'product_detail:product_detail' item.Product_Cellar.Product_id item.Product_Cellar.Product_slug  item.Year %}">{{item.Product_Cellar.Product_name|slice:"0:20"}}({{item.Year}})</a></td>
      <td class="text-center">{{item.Type}}/({{item.Case_Formate.Bottle}})</td>
        <td class="text-center">
        ${{item.Cost_of_product|get_amount_without_persentage:item.Case_Formate.GST|floatformat:2}}
      </td>
      <td class="text-center">{{item.Case_Formate.GST}}%</td>
      <td class="text-center">${{item.Cost_of_product}}</td>
      <td class="text-center">{{item.Quentity}}</td>
      
   
      <td class="text-center">
<input type="hidden" class="total" value="{% widthratio item.Cost_of_product 1 item.Quentity %}">
  ${% widthratio item.Cost_of_product 1 item.Quentity %}
      </td>
    </tr>
   {% endif %}


   {% if item.Order_id.Order_Type == 'Delivered' %}

    <tr style="cursor: pointer;">
      <td class="text-center"><a href="{% url 'product_detail:product_detail' item.Product_Delivered.Product_id item.Product_Delivered.Product_slug  item.Year %}"><img src='{{item.Product_Delivered|get_product_image_one}}' style="height: 50px;"></a></td>
      <td class="text-center"><a href="{% url 'product_detail:product_detail' item.Product_Delivered.Product_id item.Product_Delivered.Product_slug  item.Year %}">{{item.Product_Delivered.Product_name|slice:"0:20"}}({{item.Year}})</a></td>
      <td class="text-center">{{item.Type}}/({{item.Case_Formate.Bottle}})</td>
        <td class="text-center">
        ${{item.Cost_of_product|get_amount_without_persentage:item.Gst|floatformat:2}}
      </td>
      <td class="text-center">{{item.Gst}}%</td>
      <td class="text-center">${{item.Cost_of_product}}</td>
      <td class="text-center">{{item.Quentity}}</td>

      
      <td class="text-center">
<input type="hidden" class="total" value="{% widthratio item.Cost_of_product 1 item.Quentity %}">
  ${% widthratio item.Cost_of_product 1 item.Quentity %}
      </td>
    </tr>
   {% endif %}

     {% endfor %}
    {% endif %}
    

{% if card_product.0.Order_id.Order_Type != 'Tickets' %}
<tr>
       <th  colspan="5"></th>
       <th  colspan="2">Sub Total</th>
   <th class="text-center"><span>${{get_order_ins.Order_Product_Amount|floatformat:2}}</span></th>
   </tr>
   <tr>
       <th  colspan="5"></th>
       <th  colspan="2">GST</th>
   <th class="text-center"><span>${{get_order_ins.Order_Gst_Amount|floatformat:2}}</span></th>
   </tr>
   
{% endif %}



 {% if get_order_ins.Use_coupon %}
  <tr>
   <th  colspan="4"></th>
   <th  colspan="2">Descount</th>
   <th class="text-center">
<input type="hidden" class="descount" value="{{get_order_ins.Cupon_Discount|floatformat:2}}">
   ${{get_order_ins.Cupon_Discount|floatformat:2}}</th>
 </tr>
 {% endif %}
 

 {% if card_product.0.Order_id.Order_Type == 'Tickets' %}
<tr>
   <th  colspan="2">
    <select class="form-control" name="order_type" disabled="true" >
     <option  selected="tyrue">Tickets</option>
                          </select></th>
<th  colspan="2">Total</th>
   <th>$<span id="show_total_ampount">0.00</span></th>
</tr>
      {% else %}


      <tr>
       <th  colspan="5">
    <select class="form-control" name="order_type" disabled="true" >
        <option {% if get_order_ins.Order_Type == "Delivery" %} selected="tyrue" {% endif %} >Delivery</option>
      <option {% if get_order_ins.Order_Type == "Caller" %} selected="tyrue" {% endif %}>Cellar</option>
     <option {% if get_order_ins.Order_Type == "Bond" %} selected="tyrue" {% endif %}>Bond</option>
                          </select></th>

                        <th  colspan="2">Total</th>
   <th class="text-center">$<span id="show_total_ampount">0.00</span></th>
   </tr>
      {% endif %}                    
   
 

  </tbody>
</table>

<hr>
<table id="show_shipping_amoiunt"  class="table table-bordered" style=" display: none;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-spacing: 0;
    border-collapse: collapse;
    ">

<tr>
       <th  colspan="2">Shipping</th>
   <th class="text-center"><span>$<span id="add_shipping_charge">0</span></span></th>
   </tr>
</table>
</div>
                      
                        <!--<ul class="total-cost">
                            <li>Pure Nature Honey <span class="pull-right">$139.00</span></li>
                            
                            <li>Your Product Name <span class="pull-right">$100.00</span></li>
                            
                            <li>Pure Nature Honey <span class="pull-right">$141.00</span></li>
                            
                            <li>Subtotal <span class="pull-right"><strong>$380.00</strong></span></li>
                          
                            <li>Shipping <span class="pull-right">Free</span></li>
                           
                            <li><strong>Total<span class="pull-right">$380.00</span></li>
                            
                        </ul>-->
                      {% if card_product.0.Order_id.Order_Type == 'Delivered' %}

                        {% if card_product.0.Order_id.Order_Type == 'Tickets' %}
                        <ul class="payment-method">
                            <li>
                                <input id="bank" type="radio" name="payment_type" value="Direct Bank Transfer">
                                <label for="bank">Direct Bank Transfer</label>
                            </li>
                            <li>
                                <input id="paypal" type="radio" name="payment_type" value="Paypal">
                                <label for="paypal">Paypal</label>
                            </li>
                            <li>
                                <input id="card" type="radio" name="payment_type" value="Credit Card">
                                <label for="card">Credit Card</label>
                            </li>
                            <li>
                                <input id="delivery" type="radio" name="payment_type" checked="true" value="Cash on Delivery">
                                <label for="delivery">Cash on Delivery</label>
                            </li>
                        </ul>
                        {% else %}
                         <ul class="payment-method" id="show_without_shipping" >
                            <li>
                                <input id="bank" type="radio" name="payment_type" checked="true" value="Payment Done By Caller">
                                <label for="bank">Payment Done By Caller</label>
                            </li>
                          </ul>


                            <ul class="payment-method" id="show_with_shipping" style="display: none;">
                            <li>
                                <input id="bank" type="radio" name="payment_type" value="Direct Bank Transfer">
                                <label for="bank">Direct Bank Transfer</label>
                            </li>
                            <li>
                                <input id="paypal" type="radio" name="payment_type" value="Paypal">
                                <label for="paypal">Paypal</label>
                            </li>
                            <li>
                                <input id="card" type="radio" name="payment_type" value="Credit Card">
                                <label for="card">Credit Card</label>
                            </li>
                            <li>
                                <input id="delivery" type="radio" name="payment_type" checked="true" value="Cash on Delivery">
                                <label for="delivery">Cash on Delivery</label>
                            </li>
                        </ul>

                        {% endif %}
                        {% else %}
                        <ul class="payment-method">
                            <li>
                                <input id="bank" type="radio" name="payment_type" value="Direct Bank Transfer">
                                <label for="bank">Direct Bank Transfer</label>
                            </li>
                            <li>
                                <input id="paypal" type="radio" name="payment_type" value="Paypal">
                                <label for="paypal">Paypal</label>
                            </li>
                            <li>
                                <input id="card" type="radio" name="payment_type" value="Credit Card">
                                <label for="card">Credit Card</label>
                            </li>
                            <li>
                                <input id="delivery" type="radio" name="payment_type" checked="true" value="Cash on Delivery">
                                <label for="delivery">Cash on Delivery</label>
                            </li>
                        </ul>
                        {% endif %}
            
            
               {% if card_product.0.Order_id.Order_Type == 'Delivered' %}

                        {% if card_product.0.Order_id.Order_Type == 'Tickets' %}
                        <div class="iconbox">
                        <img src='{% static "web/assets/image/paypal.jpg" %}'>
                        </div>
                        {% endif %}
                {% else %}
                <div class="iconbox">
                        <img src='{% static "web/assets/image/paypal.jpg" %}'>
                        </div>
                {% endif %}
            
            
                         <div class="cart-total text-right">
                                   
                          <button type="submit" class="btn btn-warning">PLACE ORDER</button>
                                </div> 
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row">
              <div class="col-md-12">
                <h2>Your card is empty.</h2>
              </div>
            </div>
            {% endif %}
        </div>
</form>

{% endblock %}



{% block script %}

<script type="text/javascript">


$(document).ready(function(){
  $("#id_First_Name").val('{{user.first_name}}');
  $("#id_Last_Name").val('{{user.last_name}}');
  $("#id_Email").val('{{user.email}}');
  $("#id_Pnone_no").val('{{user_info.Contact_no}}');
});

function set_total_amount_of_card_product()
{
  var total_amount = 0.00;
  $(".total").each(function(){
 
 total_amount = total_amount +  parseFloat($(this).val());

});

  var get_descount = $(".descount").val();
  if(get_descount)
  {
  	total_amount = total_amount - parseFloat(get_descount);
  }
  return total_amount;
}





  $(document).ready(function(){




$("#id_Country").change(function(){

var country_id = $(this).val();

add_shipping_amount(country_id);

});









$("#show_total_ampount").text(set_total_amount_of_card_product());





 $("#toggle2").change(function(){
   if($(this).prop("checked")==false)
    {
      $("#address_obj").css('display','flex');
      $("#address_form").css('display','none');
    }
    if($(this).prop("checked")==true)
    {
      $("#address_form").css('display','flex');
      $("#address_obj").css('display','none');
    }


 });




$("#address_obj").change(function(){


var address_id = $(this).val();


if(address_id)
{
  var url = '{% url "orders:get_country_id"  %}';
$.ajax({
  method:"POST",
  url:url,
  data:{'address_id':address_id},
  dataType:"json",
  success:function(data)
  {
     add_shipping_amount(data.country_id);
  }
  });
}
else
{
   $("#show_shipping_amoiunt").css("display", "none");

    $("#add_shipping_charge_val").val(0);
     $("#add_shipping_charge").text('0');
     $("#show_with_shipping").css("display", "none");
     $("#show_without_shipping").css("display", "flex");
}


});


  });

function add_shipping_amount(country_id)
{
  if(country_id)
  {
      var order_id_amount = $("#order_id_amount").val();

var url = '{% url "orders:get_shipping_charge"  %}';


$.ajax({
  method:"POST",
  url:url,
  data:{'country_id':country_id},
  dataType:"json",
  success:function(data)
  {

    var shipping = 0;
    if(data.min_ordr_amount <=0)
    {
       shipping = data.Shiping_Fees_min_order_amount;
    }
    else
    {
     if(order_id_amount < data.min_ordr_amount)
     {
       shipping = data.Shiping_Fees_min_order_amount;
     } 
    }
     
$("#show_shipping_amoiunt").css("display", "flex");
     $("#add_shipping_charge_val").val(shipping);
     $("#add_shipping_charge").text(shipping);



     $("#show_with_shipping").css("display", "flex");
     $("#show_without_shipping").css("display", "none");
  }
});
  }
else
{


$("#show_with_shipping").css("display", "none");
     $("#show_without_shipping").css("display", "flex");

  $("#show_shipping_amoiunt").css("display", "none");

    $("#add_shipping_charge_val").val(0);
     $("#add_shipping_charge").text('0');
}

  
}

</script>
      {% endblock %}
