{% extends 'web/base-template.html' %}
{% block content %}
{% load static %}



<main class="information">
 

            <div class="container">
                <div class="row">
                    <div class="col-md-9 order-lg-last dashboard-content">
                       <div class="card">
                           <div class="card-header">Your Order History</div>
<div class="profile-edit card-body">
{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-success alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong> 
                    </div>
           {% endif %}   
           
           {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong> 
                    </div>
           {% endif %}         
      
    {% endfor %}
    {% endif %}
<div class="update-password">

   <div class="paymentItem newPaymentItem">
		
<table class="cart-wrap">
              <thead>
                <tr>
                  <th>Order</th>
                  <th>Order Type</th>
                  <th>Date</th>
                  <th>Total</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              	{% if get_orders %}
              	{% for item in get_orders %}
                <tr>
                  <th># {{item}}</th>
                  <th>
                    {% if item.Order_Type == 'Delivered' %}
                    Delivery
                    {% elif item.Order_Type == 'Caller' %}
                     Cellar
                    {% else %}
                    {{item.Order_Type}}
                    {% endif %}
                  </th>
                  <td>{{item.Order_Date}}</td>
                  <td>${{item.Amount}}</td>
                  <td style="color:#fff;">
                  	 
                     {% if item.Payment_Status %}
                          {% if item.Order_Status_Set == 'Pending' %}
                        <span class="grid-report-item blue">{{item.Order_Status_Set}}</span>
                        {% endif %}
                        {% if item.Order_Status_Set == 'Active' %}
                        <span class="grid-report-item green">{{item.Order_Status_Set}}</span>
                          {% endif %}


                        {% if item.Order_Status_Set == 'Process' %}
                        <span class="grid-report-item green">{{item.Order_Status_Set}}</span>
                          {% endif %}

                        {% if item.Order_Status_Set == 'Complete' %}
                        <span class="grid-report-item green">{{item.Order_Status_Set}}</span>
                          {% endif %}
                          {% if item.Order_Status_Set == 'Celler' %}
                        <span class="grid-report-item yellow">{{item.Order_Status_Set}}</span>
                          {% endif %}
                          {% if item.Order_Status_Set == 'Refunded' %}
                        <span class="grid-report-item red">{{item.Order_Status_Set}}</span>
                          {% endif %}
                           {% if item.Order_Status_Set == 'Cancelled' %}
                        <span class="grid-report-item red">{{item.Order_Status_Set}}</span>
                          {% endif %}
                          {% if item.Order_Status_Set == 'Failled' %}
                        <span class="grid-report-item red">{{item.Order_Status_Set}}</span>
                          {% endif %}
                          {% if item.Order_Status_Set == 'Deactivate' %}
                        <span class="grid-report-item red">{{item.Order_Status_Set}}</span>
                          {% endif %}
                    {% else %}
                     <a href="{% url 'orders:checkout' item.order_id %}"><button class="btn btn-danger btn-sm" type="button">Make Payment</button></a>
                    {% endif %}
                  </td>
                  <td><a href="{% url 'orders:prodyuct_info' item.order_id  %}" class="btn btn-primary btn-sm">View</a></td>
                </tr>
                 {% endfor %}
                {% endif %}
              </tbody>
            </table>
</div>   
      
</div>

</div>
 </div>
                    </div>






                    <aside class="col-md-3">
                        {% include 'web/user/include/user_sidebar.html' %}
                    </aside>          
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb-5"></div><!-- margin -->
        </main>
{% endblock %}