{% extends 'web/base-template.html' %}
{% block content %}
{% load static %}



<main class="information">
 

            <div class="container">
                <div class="row">
                    <div class="col-md-9 order-lg-last dashboard-content">
                       <div class="card">
                           <div class="card-header">Your Order History</div>
<div class="profile-edit card-body">
{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
            <div class="alert alert-success alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong> 
                    </div>
           {% endif %}   
           
           {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
            <div class="alert alert-danger alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>{{message}}</strong> 
                    </div>
           {% endif %}         
      
    {% endfor %}
    {% endif %}
<div class="update-password">
<h3>Order Id: #{{products.0.Order_id}}</h3>
<h3>Order Type: {% if products.0.Order_id.Order_Type == 'Delivered' %} Delivery {% elif item.Order_Type == 'Caller' %} Cellar {% else %}
                    {{products.0.Order_id.Order_Type}}{% endif %}
</h3>

<h3>Created on: {{products.0.Order_id.Order_Date}}
</h3>
<h3>Order status: {{products.0.Order_id.Order_Status_Set}}</h3>
<h3>Payment Status: {% if products.0.Order_id.Payment_Status %}
	{{products.0.Order_id.Payment_Status}}
	{% else %}
	{{products.0.Order_id.Payment_Status}}
	<a href="{% url 'orders:checkout' products.0.Order_id.order_id %}"><button type="button" class="btn btn-danger btn-sm">Make Payment</button></a>
{% endif %}</h3>
<h3>Order subtotal: ${{products.0.Order_id.Amount}}</h3>
<h3>Order total: ${{products.0.Order_id.Amount}}</h3>
   <div class="paymentItem newPaymentItem">
		
{% if products.0.Order_id.Order_Type == 'Tickets' %}
<table class="table table-bordered">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Event</th>
                  <th>Quantity</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                {% if products %}
                {% for item in products %}
                <tr>
                  
               <th><img src="{{item.Event_Ticket.Event_Image.url}}" style="height: 50px;"></th>
                  <td><a href="{% url 'event:event_detail' item.Event_Ticket.id item.Event_Ticket.Slug %}">{{item.Event_Ticket}}({{item.Event_Ticket.Event_Type}})</a></td>
                  <td>{{item.Quentity}}</td>
                  <td>${{item.Total_cost}}</td>
            
                </tr>
                 {% endfor %}
                
                 {% if get_order_ins.Use_coupon %}
                <tr>
                   <th colspan="6" style="text-align: right;">Descount :</th>
                   <th >${{get_order_ins.Cupon_Discount|floatformat:2}}</th>
                 </tr>
                 {% endif %} 

                 <tr>
                   <th colspan="3" style="text-align: right;">Grand Total :</th>
                   <th >${{total_cost}}</th>
                 </tr>
                 {% if get_order_ins.Order_Type == 'Delivered' %}
                 <tr>
                   <th colspan="3" >Customer Order Details </th>
                   <th colspan="4" style="text-align: right;">Date {{products.0.Order_id.Order_Date}}</th>
                   
                 </tr>
                 <tr>
                   <th colspan="3" >
                   <b>Telephone</b> {{user_info.Contact_no}}<br>
                            <b>E-Mail</b> {{user_info.User.email}}<br>
                            <b>Payment Method</b> : {{products.0.Order_id.Payment_Method}}<br>
                  </th>
                   <th colspan="4" >
                    <strong>Billing Address</strong>
       
    <br>
        <address>
        {{products.0.Order_id.Order_address.First_Name}} {{products.0.Order_id.Order_address.Last_Name}} <br>
        {{products.0.Order_id.Order_address.Address}}, {{products.0.Order_id.Order_address.Country}} ({{products.0.Order_id.Order_address.City}}) <br>
        Pincode:- {{products.0.Order_id.Order_address.Postcode}} <br>
        Email Id:- {{products.0.Order_id.Order_address.Email}} <br>
        Mobile Number:- {{products.0.Order_id.Order_address.Pnone_no}}
        </address>
                   </th>
                   
                 </tr>
                 {% endif %}


                {% endif %}
              </tbody>
            </table>



{% else %}



<table class="table table-bordered">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Product</th>
                  <th>Type & Case Size</th>
                  <th>Price</th>
                  <th>Qty</th>
                  <th>Tax</th>
                  <th>GST</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
              	{% if products %}
              	{% for item in products %}
                <tr>
                  
                  {% if item.Product_Delivered %}
                  <th><img src="{{item.Product_Delivered|get_product_image_one}}" style="height: 50px;"></th>
                  <td><a href="{% url 'product_detail:product_detail' item.Product_Delivered.Product_id item.Product_Delivered.Product_slug  item.Year %}">{{item.Product_Delivered}}({{item.Year}})</a></td>
                  {% endif %}

                  {% if item.Product_Cellar %}
                  <th><img src="{{item.Product_Cellar|get_product_image_one}}" style="height: 50px;"></th>
                  <td><a href="{% url 'product_detail:product_detail' item.Product_Cellar.Product_id item.Product_Cellar.Product_slug  item.Year %}">{{item.Product_Cellar}}({{item.Year}})</a></td>
                  {% endif %}

                  <td>
                  	{{item.Type}}/({{item.Case_Formate.Bottle}})
                  </td>
                  <td>${{item.Cost_of_product}}</td>
                  <td>{{item.Quentity}}</td>
                  {% if item.Product_Delivered %}
                  <th>{{item.Case_Formate.Duty}}%</th>
                  <td>{{item.Case_Formate.GST}}%</td>
                  {% endif %}

                  {% if item.Product_Cellar %}
                  <th>{{item.Case_Formate.Duty}}%</th>
                  <td>{{item.Case_Formate.GST}}%</td>
                  {% endif %}
                  
                  <td>${{item.Total_cost}}</td>
            
                </tr>
                 {% endfor %}
                 {% if get_order_ins.Use_coupon %}
                <tr>
                   <th colspan="7" style="text-align: right;">Descount :</th>
                   <th >${{get_order_ins.Cupon_Discount|floatformat:2}}</th>
                 </tr>
                 {% endif %} 

                 <tr>
                   <th colspan="7" style="text-align: right;">Grand Total :</th>
                   <th >${{total_cost}}</th>
                 </tr>
                
                 <tr>
                   <th colspan="4" >Customer Order Details </th>
                   <th colspan="5" style="text-align: right;">Date {{products.0.Order_id.Order_Date}}</th>
                   
                 </tr>
                 <tr>
                   <th colspan="4" >
                            <b>Telephone</b> {{user_info.Contact_no}}<br>
                            <b>E-Mail</b> {{user_info.User.email}}<br>
                            <b>Payment Method</b> : {{products.0.Order_id.Payment_Method}}<br>
                  </th>
                   <th colspan="5" >
                     {% if get_order_ins.Order_Type == 'Delivered' %}
                    <strong>Shipping Address</strong>
       
    <br>
        <address>
        {{products.0.Order_id.Order_address.First_Name}} {{products.0.Order_id.Order_address.Last_Name}} <br>
        {{products.0.Order_id.Order_address.Address}}, {{products.0.Order_id.Order_address.Country}} ({{products.0.Order_id.Order_address.City}}) <br>
        Pincode:- {{products.0.Order_id.Order_address.Postcode}} <br>
        Email Id:- {{products.0.Order_id.Order_address.Email}} <br>
        Mobile Number:- {{products.0.Order_id.Order_address.Pnone_no}}
        </address>
          {% endif %}
                   </th>
                   
                 </tr>
               
                {% endif %}
              </tbody>
            </table>
{% endif %}
{% if order_note %}
         <br>
         <h3>Note:</h3>
         <hr></br>   
         {% for item in order_note %}
        <table class="table table-bordered">
          <tr><th>Date {{item.Date}}</th></tr>
          <tr><th><p>{{item.Note}}</p>
            
          {% if item.Attachment %}
     <a href="{{item.Attachment.url}}" target="_blank"> <img style="width: 30px;" src='{% static "web/assets/images.png" %}'></a>
    {% endif %}
          </th></tr>
        </table> 
         {% endfor %}
        {% endif %}

</div>   
      
</div>

</div>
 </div>
                    </div>






                    <aside class="col-md-3">
                        {% include 'web/user/include/user_sidebar.html' %}
                    </aside>          
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb-5"></div><!-- margin -->
        </main>


{% endblock %}