{% extends 'web/base-template.html' %}
{% block content %}
{% load static %}



<main class="information">
 

            <div class="container">
                <div class="row">
                    <div class="col-md-9 order-lg-last dashboard-content">
                       <div class="card">
                           <div class="card-header">Update Password</div>
<div class="profile-edit card-body">



<div class="update-password">
<p>Please use this form to update your account password</p>
<p class="required">Fields marked * are required</p>
{% if form.errors %}
 {% if form.errors.items|length == 1 %}
<div class="alert alert-danger alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>Please correct thew error below.</strong> 
                    </div>
        {% else %}
        <div class="alert alert-danger alert-dismissible">
                      <a href="#" class="close" data-dismiss="alert" aria-label="close" style="color: crimson!important">&times;</a>
                      <strong>Please correct thew errors below.</strong> 
                    </div>
        {% endif %}
{% endif %}

<div class="hafldiv">
<form method="post" autocomplete="off">
  {% csrf_token %}
<div class="form-group">
      <label for="profile.currentPassword">
        
          *
          {{form.old_password.label_tag}}
      </label>
      <input type="password" name="old_password" autofocus="" placeholder="Old Password" required="" id="id_old_password" class="form-control">
        <!-- {{form.old_password}} -->
        <span style="color:red;">{{form.old_password.errors}}</span>
  </div>
<div class="form-group">
        
      <label for="profile-newPassword">
        
          *
          {{form.new_password1.label_tag}}
      </label>
      <input type="password" name="new_password1" required="" placeholder="New Password" class="form-control" id="id_new_password1">
        <span style="color:red;">
        {{form.new_password1.errors}}
      </span>
        
</div>
  <div class="password-info-rules form-group">
         {% if form.new_password1.help_text %}
          <div class="help">{{form.new_password1.help_text|safe}}</div>
        {% endif %}
        </div>
      

      <div class="form-group">
      <label for="profile.checkNewPassword">
        
          *
          {{form.new_password2.label_tag}}<span class="skip"></span>
      </label>
    <input type="password" name="new_password2" placeholder="Confirmation Password" required="" class="form-control" id="id_new_password2">
       <span style="color:red;">
        {{form.new_password2.errors}}
      </span>
  </div>
  <div class="password-info-rules form-group">
         {% if form.new_password2.help_text %}
          <div class="help">{{form.new_password2.help_text|safe}}</div>
        {% endif %}
        </div>
  <div class="form-actions form-change-details">
        <a href="{% url 'profile_user:profile' %}"><button type="button" class="btn-secondary-action space-right" >Cancel</button></a>
        <button class="btn-secondary-action" type="submit">Update Password</button>
        </div>
    
</form>
</div>
</div>

</div>
 </div>
                    </div>






                    <aside class="col-md-3">
                        {% include 'web/user/include/user_sidebar.html' %}
                    </aside>          
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="mb-5"></div><!-- margin -->
        </main>
{% endblock %}