


<div class="widget-dashboard">
                            <h3 class="widget-title">My Account</h3>

                           <ul class="list">
               <li class=""><a href="{% url 'dashboard_user:dashboard' %}" {% if 'dashboard' in request.build_absolute_uri %} class="active"  {% endif %} >Your Dashboard</a></li>
        <li><a href="{% url 'profile_user:profile' %}" {% if 'profile' in request.build_absolute_uri %} class="active"  {% endif %}>Your Profile</a></li>

        <!-- <li class=""><a href="#">Your Preferences</a></li> -->

        <li class=""><a {% if 'preferences' in request.build_absolute_uri %} class="active"  {% endif %} href="{% url 'preferences_user:preferenceslist'  %}">Your Preferences</a></li>

		<li><a  href="{% url 'wine_palate:wine_palate'  %}" target="_blank">Wine Palet Profile</a></li>
        
        <li><a {% if 'addressbook' in request.build_absolute_uri %} class="active"  {% endif %} href="{% url 'addressbook_user:addressbooklist'  %}">Your Address Book</a></li>

        <!-- <li><a {% if 'payment-details' in request.build_absolute_uri %} class="active"  {% endif %}  href="{% url 'payment_method:payment_method'%}">Your Payment Details</a></li> -->

        <li><a {% if 'orders' in request.build_absolute_uri %} class="active"  {% endif %} href="{% url 'orders:orders' %}">Your Order History</a></li>        
  
          <!-- <li><a href="#">Your Wines Ordered</a></li> -->
        <li><a {% if 'wishlist' in request.build_absolute_uri %} class="active"  {% endif %}  href="{% url 'user_wishlist:user_wishlist' %}">Your Wish List</a></li>
        <li><a href="{% url 'manage_cellar:manage_cellar' %}" target="_blank">My Cellar</a></li>
        <li><a href="{% url 'account:logout' %}" >Logout</a></li>
        
        
        </ul>
                        </div><!-- End .widget -->