   <div class="login-form-content">
  <form action="{% url 'admin_manage_notification:update_notification'  object.id %}" id="size_update" method="post">
      
{% csrf_token %}


    <div class="row">
     <div class="col-md-12">
      <div class="form-group">
                   <label class="age">Select User</label>
                   {{form.user}}
                   <!-- <input type="text" class="form-control" placeholder="Enter your winery name"> -->
        </div>
     </div>
    </div>

    <div class="row">
     <div class="col-md-12">
      <div class="form-group">
                   <label class="age">Description</label>
                   {{form.Description}}
                   <!-- <input type="text" class="form-control" placeholder="Enter your winery name"> -->
        </div>
     </div>
    </div>


<div class="row">
 
  <div class="col-md-4">
    <div class="form-group">
      <button type="submit" class="btn-block btn btn-white subbtn">Save</button>
    </div>
  </div>
</div>
</form>
</div>