{% extends 'web/base-template.html' %}
{% block content %}
{% load static %}

<!---------------------------------------------->
<!--   <h3>Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}

     <button type="submit">Submit</button> 
  </form> -->
<!--------------------------------------------->

<div class="container">
<!-- 	  <form method="post">
    {% csrf_token %}
    {{ form.email }}
    <div class="col-md-6 offset-md-3">
			<div class="card">
				<input type="submit" id="login_form_button" class="btn btn-primary btn-lg btn-block" value="Submit">
			</div>
		</div>
    <button type="submit">Submit</button>
  </form>
 -->

		  <form method="post">
    {% csrf_token %}
	<div class="row">

		<div class="col-md-6 offset-md-3 p-t-b-40">
			<div class="">
				<h3 class="p-t-b-20 text-center">Forgot password</h3>
				<div class="form-group has-icon"><i class="icon-envelope-o"></i>
                        <!-- <input type="text" required="" name="email" class="form-control form-control-lg" placeholder="Email Address"> -->
                        {{ form.email }}
                     </div>
                     <div class="row">
		<div class="col-md-6 offset-md-3">
			<div class="card">
				<input type="submit" id="login_form_button" class="btn btn-primary btn-lg btn-block" value="Submit">
			</div>
		</div>
	</div>
			</div>
		</div>
	
	</div>
	</form>
</div>



<script type="text/javascript">
	$(function() {

	$("#id_email").attr("placeholder", "Enter your register email.");
    $("#id_email").addClass("form-control");
    $("#id_email").css("border-color","#c52241");
   });
	
</script>


{% endblock %}