{% extends 'web/base-template.html' %}
{% block content %}
  {% if validlink %}
    <!-- <h3>Change password</h3> -->
<!--     <form method="post">
      {% csrf_token %}
      {{ form.as_p }}

      new_password1
      new_password2
      <button type="submit">Change password</button>
    </form> -->


<!---------------------------Design----------------->
<div class="container">
  <form  method="post">
    {% csrf_token %}
  <div class="row">

    <div class="col-md-6 offset-md-3 p-t-b-40">
      <div class="">
        <h3 class="p-t-b-20 text-center">Change password</h3>
        <div class="form-group has-icon"><i class="icon-user-secret"></i>
                        <!-- <input type="password" required="" name="email" class="form-control form-control-lg" placeholder="New password"> -->
                        {{ form.new_password1 }}
                     </div>
                     <div class="form-group has-icon"><i class="icon-user-secret"></i>
                        <!-- <input type="password" required="" name="email" class="form-control form-control-lg" placeholder="Confirm New password"> -->
                        {{ form.new_password2 }}
                     </div>
                     <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <input type="submit" id="login_form_button" class="btn btn-primary btn-lg btn-block" value="Change Password">
      </div>
    </div>
  </div>
      </div>
    </div>
  
  </div>
  </form>
</div>

  {% else %}
    <p><h4>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.</h4>
    </p>
  {% endif %}
<!------------------------------------------------------------>
<script type="text/javascript">
  $(function() {

  $("#id_new_password1").attr("placeholder", "Enter new password.");
  $("#id_new_password1").attr("placeholder", "Enter confirm password.");
    $("#id_new_password1").addClass("form-control");
    $("#id_new_password2").addClass("form-control");
    $("#id_new_password1").css("border-color","#c52241");
    $("#id_new_password2").css("border-color","#c52241");
   });
  
</script>

{% endblock %}